:root{

    --spaco-interno: 20px;
    --spaco-inferior: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding: var(--spaco-interno);

}

h1{
    text-align: center;
    margin-bottom: var(--spaco-inferior);
}

form{
    width: 600px;
    margin: auto;
}

form fieldset{
    padding: var(--spaco-interno);
}

input{
    margin-bottom: var(--spaco-inferior);
    width: 100%;
    padding: 10px;
}

button{
    padding: 10px 15px;
    background-color: green;
    color: white;
}